/* color scheme */
:root {
  --black-color: #272727;
  --blue-color: #1089ff;
  --green-color: #50d890;
  --white-color: #e5e5e5;
}
/* font */
@font-face {
  font-family: "glacial";
  src: url("/assets/fonts/GlacialIndifference-Regular.otf");
}
/* css */
body {
  margin: 0;
  padding: 0;
  background-color: var(--black-color);
}
button {
  display: inline-block;
  margin: auto;
  padding: 16px 24px 17px;
  background-color: var(--white-color);
  border: none;
  color: var(--black-color);
  outline: none;
  font-size: larger;
  font-weight: 800;
  text-decoration: none;
  font-family: glacial;
}
.intro {
  display: flex;

  justify-content: space-evenly;
  text-align: center;
  /* align-items: center; */
  position: relative;
  top: 100px;
}
.intro img {
  /* margin: auto; */
  display: inline-block;
  /* padding: 8rem; */
}

/* typing animation */
.subtitle {
  text-align: center;
  position: relative;
  top: 200px;
}
.subtitle p {
  width: 30%;
  color: var(--white-color);
  margin: auto;
  font-family: glacial;
}
/* navbar */
.nav {
  list-style: none;
  position: fixed;
  text-overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0;
  bottom: 0;
  text-align: center;
}
.nav li {
  display: inline;
}
.nav a {
  color: var(--white-color);
  display: inline-block;
  padding: 22px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: glacial;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: var(--green-color);
  /* text-decoration-line: line-through; */
}
a:active {
  color: var(--blue-color);
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .intro {
    flex-direction: column;
    /* align-items: center; */
  }
  .nav {
    top: 0;
    margin-top: 3em;
    z-index: 1000;
  }
}
