<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/style.css" />

    <title>Events</title>
  </head>
  <body>
    <div class="intro-section custom-owl-carousel" id="home-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 mr-auto" data-aos="fade-up">
            <div class="owl-carousel slide-one-item-alt-text">
              <div class="slide-text">
                <h1>We Do Awesome Things</h1>
                <p class="mb-5">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Maxime ipsa nulla sed quis rerum amet natus quas
                  necessitatibus.
                </p>
                <p>
                  <a
                    href="#"
                    target="_blank"
                    class="btn btn-outline-light py-3 px-5"
                    >Get Started</a
                  >
                </p>
              </div>
              <div class="slide-text">
                <h1>Welcome</h1>
                <p class="mb-5">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Maxime ipsa nulla sed quis rerum amet natus quas
                  necessitatibus.
                </p>
                <p>
                  <a
                    href="#"
                    target="_blank"
                    class="btn btn-outline-light py-3 px-5"
                    >Get Started</a
                  >
                </p>
              </div>
              <div class="slide-text">
                <h1>High Quality Website Templates</h1>
                <p class="mb-5">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Maxime ipsa nulla sed quis rerum amet natus quas
                  necessitatibus.
                </p>
                <p>
                  <a
                    href="#"
                    target="_blank"
                    class="btn btn-outline-light py-3 px-5"
                    >Get Started</a
                  >
                </p>
              </div>
              <div class="slide-text">
                <h1>We do things right.</h1>
                <p class="mb-5">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Maxime ipsa nulla sed quis rerum amet natus quas
                  necessitatibus.
                </p>
                <p>
                  <a
                    href="#"
                    target="_blank"
                    class="btn btn-outline-light py-3 px-5"
                    >Get Started</a
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="owl-carousel slide-one-item-alt">
              <img src="images/img_1.jpg" alt="Image" class="img-fluid" />
              <img src="images/img_2.jpg" alt="Image" class="img-fluid" />
              <img src="images/img_3.jpg" alt="Image" class="img-fluid" />
              <img src="images/img_4.jpg" alt="Image" class="img-fluid" />
            </div>

            <div class="owl-custom-direction">
              <a href="#" class="custom-prev"
                ><span class="icon-keyboard_arrow_left"></span
              ></a>
              <a href="#" class="custom-next"
                ><span class="icon-keyboard_arrow_right"></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- scripts -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
