<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- FAVICON  -->
    <link rel="icon" href="../favicon.png" sizes="64x64" />

    <!-- CSS AND OTHER BOOTSTRAP LINKS -->
    <!-- LINKED CSS -->
    <link rel="stylesheet" href="../styles/nav.css" />

    <link rel="stylesheet" href="../styles/eventlist.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- TITLE  -->
    <title>Aadhya - evolve . engage . elevate</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav
      class="navbar nav-masthead  navbar-expand-sm fixed-bottom animate-bottom"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbarLg"
      >
        <span class="navbar-toggler-icon"><div id="hamburger"></div></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="guests.html">Guests</a>
          </li>
          <!-- <li class="nav-item">
        <a class="nav-link" href="components/comingsoon.html">Flagship</a>
      </li> -->
          <!-- <li class="nav-item">
        <a class="nav-link" href="components/comingsoon.html">Collaborations</a>
      </li> -->
          <li class="nav-item">
            <a class="nav-link" href="faq.html">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="findus.html">Find us</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>

    <!-- Entire Event list-->
    <div class="section body">
      <h1>competitions</h1>

      <ul class="contacts">
        <!-- bugsqash -->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="bugsquash"
        >
          <span class="post">bugsquash</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-bugsquash"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>

        <!-- build a net -->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="buildanet"
        >
          <span class="post">build a net</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-buildanet"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--capture the flag -->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="capturetheflag"
        >
          <span class="post">capture the flag</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-capturetheflag"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--code to survive -->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="codetosurvive"
        >
          <span class="post">code to survive</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-codetosurvive"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--shehacks -->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="shehacks"
        >
          <span class="post">shehacks</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-shehacks"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--techHunt-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="techHunt"
        >
          <span class="post">techHunt</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-techHunt"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--debugging the circuit-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="dtc"
        >
          <span class="post">debugging the <br />circuit</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-dtc"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--technical quiz-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="tq"
        >
          <span class="post">technical quiz</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-tq"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--optmis omnium-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="oo"
        >
          <span class="post">optimis omnium</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-oo"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--mazerunner-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="mazerunner"
        >
          <span class="post">mazerunner</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-mazerunner"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>

        <!--eleckart-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="eleckart"
        >
          <span class="post">eleckart</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-eleckart"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--building planning-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="bp"
        >
          <span class="post">building planning</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-bp"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--building planning-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="bp"
        >
          <span class="post">building planning</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-bp"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--bridgemodelling-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="bm"
        >
          <span class="post">building modelling</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-bm"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--concrete design-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="cd"
        >
          <span class="post">concrete design</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-cd"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--town plannign-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="tp"
        >
          <span class="post">town planning</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-tp"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--town planning-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="tp"
        >
          <span class="post">town planning</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-tp"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--survey-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="survey"
        >
          <span class="post">survey</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-survey"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--scrapyard wars-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="sw"
        >
          <span class="post">scrapyard wars</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-sw"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--down hill derby-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="dhd"
        >
          <span class="post">down hill derby</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-dhd"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--team CAD assembly-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="tca"
        >
          <span class="post">team CAD assembly</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-tca"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--make your mechanism-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="mym"
        >
          <span class="post">make your mechanism</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-mym"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--paper rc plane-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="prp"
        >
          <span class="post">paper rc plane</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-prp"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--hover mania-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="hm"
        >
          <span class="post">hover mania</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-hm"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
        <!--balsa wood glider-->
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="bwg"
        >
          <span class="post">balsa wood glider</span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-bwg"
            src="../assets/images/eventlist/appdev.png"
          />
        </div>
      </ul>
    </div>


    <!-- scripts -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>

    <!-- lottie script -->
    <script src="../scripts/lottie.js"></script>
    <!-- nav script -->
    <script src="../scripts/nav.js"></script>

    <!-- bootstrap CDN -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script>
      function show(contact) {
        $(contact)
          .removeClass("fade")
          .addClass("active")
          .siblings("li")
          .addClass("fade");
        $(
          "#thumb-" +
            $(contact)
              .data("filename")
              .replace(" ", "")
        )
          .addClass("active")
          .siblings("img")
          .removeClass("active");
      }
      function release(contact) {
        $(contact)
          .removeClass("active")
          .siblings()
          .removeClass("fade");
        $(".section.body .contacts img").removeClass("active");
      }
    </script>
  </body>
</html>
