<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- FAVICON  -->
  <link rel="icon" href="../favicon.png" sizes="64x64" />

  <!-- CSS AND OTHER BOOTSTRAP LINKS -->
  <!-- LINKED CSS -->
  <link rel="stylesheet" href="../styles/nav.css" />

  <link rel="stylesheet" href="../styles/eventlist.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <!-- FAVICON  -->
  <link rel="icon" href="../favicon.png" sizes="64x64" />

  <!-- TITLE  -->
  <title>Aadhya - evolve . engage . elevate</title>
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar nav-masthead  navbar-expand-sm fixed-bottom animate-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarLg">
      <span class="navbar-toggler-icon">
        <div id="hamburger"></div>
      </span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbarLg">
      <ul class="navbar-nav nav">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aboutus.html">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " href="events.html">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="guests.html">Speakers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="comingsoon.html">Hackathon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="passes.html">Passes</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="comingsoon.html">Collaborations</a>
          </li> -->
        <li class="nav-item">
          <a class="nav-link" href="faq.html">Faq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="findus.html">Find us</a>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </nav>

  <!-- Entire Event list-->
  <div class="section body">
    <div class="top-container">
      <h1>
        competitions
      </h1>

      <div class="buttons">
        <a class="btn" href="passes.html">click here for extra discount</a>
      </div>
    </div>


    <!-- content -->

    <div class="container m-t-md">
      <!-- First row -->
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">she-hacks</h3>

              <p class="card-text">this event is for women in tech. we're dedicated to expanding the skills, network,
                and community of women in the technical field, bringing together a diverse group of engineers to share
                ideas and conversations on technology and innovation. the competition will consist of four rounds and
                teams will be eliminated after each round.
                <br>
                <h5> when : <span class="price">Day 1</span></h5>
                <h5> time : <span class="price">11:30 AM</span></h5>
                <h5> prize : <span class="price">₹ 12000</span></h5>

              </p>
              <a href="#" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->

        </div>
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">
            <div class="card-block">
              <h3 class="card-title"> maze-runner</h3>
              <p class="card-text">the path of success is not straight, it has hurdles. aadhya brings to you
                maze-runner. in this event, each team has to design a black line follower robot that should be capable
                of reaching the finish line. as we say the journey is more memorable than the destination, hence we
                provide curvy circuits, hilly path, a few breaks and junctions to explore the journey. bot is expected
                to overcome all the challenges laid and achieve the success. like all the good things, even your journey
                will be time bound. the faster you run the harder it is to defeat you.<br>
                <h5> when : <span class="price">Day 1</span></h5>
                <h5> time : <span class="price">11:30 AM</span></h5>
                <h5> prize : <span class="price">₹ 12000</span></h5>
              </p>
              <a href="#" class="btn reg-btn">register.</a>
            </div>

          </article><!-- .end Card -->

        </div>
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title"> hover mania</h3>
              <p class="card-text">fast and furious? you heard it right. but this time, you will design a hovercraft and
                race it against others in the arena. the participants will be required to design a hovercraft within the
                dimensions of300mm×300mm. it should be manually or RC controlled. each team can have a maximum of 3
                members. use of ready-made store-bought hovercrafts will be considered as disqualification.<br>
                <h5> when : <span class="price">Day 1</span></h5>
                <h5> time : <span class="price">11:30 AM</span></h5>
                <h5> prize : <span class="price">₹ 12000</span></h5>
              </p>
              <a href="#" class="btn reg-btn"> register.</a>
            </div>

          </article><!-- .end Card -->

        </div>
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title"> hover mania</h3>
              <p class="card-text">fast and furious? you heard it right. but this time, you will design a hovercraft and
                race it against others in the arena. the participants will be required to design a hovercraft within the
                dimensions of300mm×300mm. it should be manually or RC controlled. each team can have a maximum of 3
                members. use of ready-made store-bought hovercrafts will be considered as disqualification.<br>
                <h5> when : <span class="price">Day 1</span></h5>
                <h5> time : <span class="price">11:30 AM</span></h5>
                <h5> prize : <span class="price">₹ 12000</span></h5>
              </p>
              <a href="#" class="btn reg-btn"> register.</a>
            </div>

          </article><!-- .end Card -->

        </div>


      </div>
    </div>





  </div>

  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  <!-- lottie script -->
  <script src="../scripts/lottie.js"></script>
  <!-- nav script -->
  <script src="../scripts/nav.js"></script>

  <!-- bootstrap CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>