<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- FAVICON  -->
    <link rel="icon" href="../favicon.png" sizes="64x64" />

    <!-- CSS AND OTHER BOOTSTRAP LINKS -->
    <link rel="stylesheet" href="styles/style.css" />

    <!-- LINKED CSS -->
    <link rel="stylesheet" href="../styles/nav.css" />

    <link rel="stylesheet" href="../styles/eventlist.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- TITLE  -->
    <title>Aadhya - evolve . engage . elevate</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav
      class="navbar nav-masthead  navbar-expand-sm fixed-bottom animate-bottom"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbarLg"
      >
        <span class="navbar-toggler-icon"><div id="hamburger"></div></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="components/aboutus.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="components/events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="components/comingsoon.html">Guests</a>
          </li>
          <!-- <li class="nav-item">
        <a class="nav-link" href="components/comingsoon.html">Flagship</a>
      </li> -->
          <!-- <li class="nav-item">
        <a class="nav-link" href="components/comingsoon.html">Collaborations</a>
      </li> -->
          <li class="nav-item">
            <a class="nav-link" href="components/comingsoon.html">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="components/findus.html">Find us</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>

    <div class="section body">
      <ul class="contacts">
        <div>
          <img
            class="photo"
            id="thumb-AbhinavEittireddy"
            src="static/images/team/Ishaan.jpg"
          />
        </div>
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="Abhinav Eittireddy"
        >
          <span class="post">President</span
          ><span class="name">Abhinav Eittireddy</span
          ><span class="phone">9542929354</span
          ><span class="others"
            ><a
              class="icon-envelope"
              href="mailto:#{email}@hyderabad.bits-pilani.ac.in"
              title="#{email}@hyderabad.bits-pilani.ac.in"
            ></a
            ><a
              class="icon-facebook"
              href="https://facebook.com/#{fb}"
              title="abhinav.eittireddy"
            ></a
          ></span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-SharathGolluri"
            src="static/images/team/#{name}.jpg"
          />
        </div>
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="Sharath Golluri"
        >
          <span class="post">Technical Secretary</span
          ><span class="name">Sharath Golluri</span
          ><span class="phone">9100879085</span
          ><span class="others"
            ><a
              class="icon-envelope"
              href="mailto:#{email}@hyderabad.bits-pilani.ac.in"
              title="#{email}@hyderabad.bits-pilani.ac.in"
            ></a
            ><a
              class="icon-facebook"
              href="https://facebook.com/#{fb}"
              title="sharath.golluri"
            ></a
          ></span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-AdityaIyer"
            src="static/images/team/Aditya Iyer.jpg"
          />
        </div>
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="Aditya Iyer"
        >
          <span class="post">General Secretary</span
          ><span class="name">Aditya Iyer</span
          ><span class="phone">9705932532</span
          ><span class="others"
            ><a
              class="icon-envelope"
              href="mailto:#{email}@hyderabad.bits-pilani.ac.in"
              title="#{email}@hyderabad.bits-pilani.ac.in"
            ></a
            ><a
              class="icon-facebook"
              href="https://facebook.com/#{fb}"
              title="iamiyernman"
            ></a
          ></span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-NitishAmireddy"
            src="static/images/team/#{name}.jpg"
          />
        </div>
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="Nitish Amireddy"
        >
          <span class="post">Sponsorship &amp; Marketing</span
          ><span class="name">Nitish Amireddy</span
          ><span class="phone">7893007437</span
          ><span class="others"
            ><a
              class="icon-envelope"
              href="mailto:#{email}@hyderabad.bits-pilani.ac.in"
              title="#{email}@hyderabad.bits-pilani.ac.in"
            ></a
            ><a
              class="icon-facebook"
              href="https://facebook.com/#{fb}"
              title="nitishreddy.amireddy"
            ></a
          ></span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-SugamGandhi"
            src="static/images/team/#{name}.jpg"
          />
        </div>
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="Sugam Gandhi"
        >
          <span class="post">Publicity &amp; Public Relations</span
          ><span class="name">Sugam Gandhi</span
          ><span class="phone">9133234318</span
          ><span class="others"
            ><a
              class="icon-envelope"
              href="mailto:#{email}@hyderabad.bits-pilani.ac.in"
              title="#{email}@hyderabad.bits-pilani.ac.in"
            ></a
            ><a
              class="icon-facebook"
              href="https://facebook.com/#{fb}"
              title="winni.gandhi"
            ></a
          ></span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-VenkataSubbaiah"
            src="static/images/team/#{name}.jpg"
          />
        </div>
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="Venkata Subbaiah"
        >
          <span class="post">Logistics</span
          ><span class="name">Venkata Subbaiah</span
          ><span class="phone">9676401052</span
          ><span class="others"
            ><a
              class="icon-envelope"
              href="mailto:#{email}@hyderabad.bits-pilani.ac.in"
              title="#{email}@hyderabad.bits-pilani.ac.in"
            ></a
            ><a
              class="icon-facebook"
              href="https://facebook.com/#{fb}"
              title="venkatasubbaiahmachunuru"
            ></a
          ></span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-RishabhAgrawal"
            src="static/images/team/#{name}.jpg"
          />
        </div>
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="Rishabh Agrawal"
        >
          <span class="post">Security &amp; Hospitality</span
          ><span class="name">Rishabh Agrawal</span
          ><span class="phone">9133234434</span
          ><span class="others"
            ><a
              class="icon-envelope"
              href="mailto:#{email}@hyderabad.bits-pilani.ac.in"
              title="#{email}@hyderabad.bits-pilani.ac.in"
            ></a
            ><a
              class="icon-facebook"
              href="https://facebook.com/#{fb}"
              title="arishabh.317"
            ></a
          ></span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-IshaanDewangan"
            src="static/images/team/#{name}.jpg"
          />
        </div>
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="Ishaan Dewangan"
        >
          <span class="post">Photography</span
          ><span class="name">Ishaan Dewangan</span
          ><span class="phone">9010716338</span
          ><span class="others"
            ><a
              class="icon-envelope"
              href="mailto:#{email}@hyderabad.bits-pilani.ac.in"
              title="#{email}@hyderabad.bits-pilani.ac.in"
            ></a
            ><a
              class="icon-facebook"
              href="https://facebook.com/#{fb}"
              title="ishaan.dewangan.9"
            ></a
          ></span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-SarthakJain"
            src="static/images/team/#{name}.jpg"
          />
        </div>
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="Sarthak Jain"
        >
          <span class="post">Lights &amp; Sounds</span
          ><span class="name">Sarthak Jain</span
          ><span class="phone">9133312961</span
          ><span class="others"
            ><a
              class="icon-envelope"
              href="mailto:#{email}@hyderabad.bits-pilani.ac.in"
              title="#{email}@hyderabad.bits-pilani.ac.in"
            ></a
            ><a
              class="icon-facebook"
              href="https://facebook.com/#{fb}"
              title="jainsarthak3"
            ></a
          ></span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-VishwaaNarayanan"
            src="static/images/team/#{name}.jpg"
          />
        </div>
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="Vishwaa Narayanan"
        >
          <span class="post">Proshows</span
          ><span class="name">Vishwaa Narayanan</span
          ><span class="phone">9704531332</span
          ><span class="others"
            ><a
              class="icon-envelope"
              href="mailto:#{email}@hyderabad.bits-pilani.ac.in"
              title="#{email}@hyderabad.bits-pilani.ac.in"
            ></a
            ><a
              class="icon-facebook"
              href="https://facebook.com/#{fb}"
              title="vishwaa.narayanan6"
            ></a
          ></span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-SahilSangwan"
            src="static/images/team/#{name}.jpg"
          />
        </div>
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="Sahil Sangwan"
        >
          <span class="post">Talks &amp; Guest Lectures</span
          ><span class="name">Sahil Sangwan</span
          ><span class="phone">9177067275</span
          ><span class="others"
            ><a
              class="icon-envelope"
              href="mailto:#{email}@hyderabad.bits-pilani.ac.in"
              title="#{email}@hyderabad.bits-pilani.ac.in"
            ></a
            ><a
              class="icon-facebook"
              href="https://facebook.com/#{fb}"
              title="sangwan.sahil"
            ></a
          ></span>
        </li>
        <div>
          <img
            class="photo"
            id="thumb-ThrinadhKumpatla"
            src="static/images/team/#{name}.jpg"
          />
        </div>
        <li
          onmouseover="show(this)"
          onmouseout="release(this)"
          data-filename="Thrinadh Kumpatla"
        >
          <span class="post">Visual Effects</span
          ><span class="name">Thrinadh Kumpatla</span
          ><span class="phone">9100589626</span
          ><span class="others"
            ><a
              class="icon-envelope"
              href="mailto:#{email}@hyderabad.bits-pilani.ac.in"
              title="#{email}@hyderabad.bits-pilani.ac.in"
            ></a
            ><a
              class="icon-facebook"
              href="https://facebook.com/#{fb}"
              title="thrinadh.kumpatla"
            ></a
          ></span>
        </li>
      </ul>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>

    <!-- bootstrap CDN -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script>
      function show(contact) {
        $(contact)
          .removeClass("fade")
          .addClass("active")
          .siblings("li")
          .addClass("fade");
        $(
          "#thumb-" +
            $(contact)
              .data("filename")
              .replace(" ", "")
        )
          .addClass("active")
          .siblings("img")
          .removeClass("active");
      }
      function release(contact) {
        $(contact)
          .removeClass("active")
          .siblings()
          .removeClass("fade");
        $(".section.body .contacts img").removeClass("active");
      }
    </script>
  </body>
</html>
