<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/faq.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <title>aadhya</title>
  </head>
  <body>
    <nav
      class="navbar nav-masthead navbar-expand-sm fixed-bottom animate-bottom"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbarLg"
      >
        <span class="navbar-toggler-icon"><div id="hamburger"></div></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="comingsoon.html">Guests</a>
          </li>
          <!-- <li class="nav-item">
          <a class="nav-link" href="components/comingsoon.html">Flagship</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="components/comingsoon.html"
            >Collaborations</a
          >
        </li> -->
          <li class="nav-item">
            <a class="nav-link active" href="#">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="findus.html">Find us</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>

    <h1>frequently asked questions</h1>

    <div class="content">
      <div class="row ques-row animate-bot">
        <div class="col-md-3 ques-box">
          <h4 class="ques">When will the registration start?</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus ad corporis voluptate. Fuga ut, quam, quaerat
          </p>
        </div>
        <div class="col-md-3 ques-box ">
          <h4 class="ques">How do I register for Aadhya 2020?</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
            asperiores quibusdam corrupti nisi exercitationem labore
          </p>
        </div>
        <div class="col-md-3 ques-box ">
          <h4 class="ques">Is the entry free?</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
            asperiores quibusdam corrupti nisi exercitationem labore
          </p>
        </div>
        <div class="col-md-3 ques-box">
          <h4 class="ques">
            Who should I contact in case of an emergency at Aadhya?
          </h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
            asperiores quibusdam corrupti nisi exercitationem labore
          </p>
        </div>
      </div>
      <div class="row ques-row animate-bot">
        <div class="col-md-3 ques-box">
          <h4 class="ques">What to do after registering?</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit
            asperiores quibusdam corrupti nisi exercitationem labore
          </p>
        </div>
        <div class="col-md-3 ques-box ">
          <h4 class="ques">Are cars allowed inside. Is parking available?</h4>
          <p>
            Yes. The parking lot will be allocated to you.
          </p>
        </div>
        <div class="col-md-3 ques-box ">
          <h4 class="ques">Can people of any age participate at Aadhya?</h4>
          <p>
            Yes
          </p>
        </div>
        <div class="col-md-3 ques-box ">
          <h4 class="ques">Where is the venue of the event?</h4>
          <p>
            Ramaiah University of Applied Science, Bengaluru
          </p>
        </div>
      </div>
    </div>
    <!--jquery-->
    <script src="../scripts/jquery-3.3.1.min.js"></script>
    <script src="../scripts/jquery-ui.js"></script>

    <!-- lottie for animations -->
    <script src="../scripts/lottie.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <!-- lottie script -->
    <script src="../scripts/lottie.js"></script>
    <!--nav js-->
    <script src="../scripts/nav.js"></script>
  </body>
</html>
