<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="../styles/guests.css" />
  <link rel="stylesheet" href="../styles/nav.css" />
  <!-- FAVICON  -->
  <link rel="icon" href="../favicon.png" sizes="64x64" />

  <title>Aadhya - evolve . engage . elevate</title>
</head>

<body>
  <nav class="navbar nav-masthead navbar-expand-sm fixed-bottom animate-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarLg">
      <span class="navbar-toggler-icon">
        <div id="hamburger"></div>
      </span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbarLg">
      <ul class="navbar-nav nav">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aboutus.html">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="events.html">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Speakers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="comingsoon.html">Hackathon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="passes.html">Passes</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href=comingsoon.html"
              >Collaborations</a
            >
          </li> -->

        <li class="nav-item">
          <a class="nav-link " href="faq.html">Faq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="findus.html">Find us</a>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </nav>

  <h1>speakers</h1>

  <div class="content">
    <div class="row ques-row animate-bot">
      <div class="col-md-3 guest-box">
        <img class="profile-img mx-auto"
          src="https://media-exp1.licdn.com/dms/image/C5103AQHwE0ZZAdApMg/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=qJfNr2c3oCDcKRFdPlIw3yf8AhWbk2ua0BYv9T5uy0Y"
          alt="" />
        <h4 class="guest-name">Usha Rengaraju</h4>
        <p>kaggle</p>
      </div>
      <div class="col-md-3 guest-box ">
        <img src="https://miro.medium.com/fit/c/256/256/0*vDb-6utZWglBTs1_.jpg" class="profile-img mx-auto" alt="" />
        <h4 class="guest-name">Nikhil P Kulkarni</h4>

        <p>
          IGS & Null BLR
        </p>
      </div>
      <div class="col-md-3 guest-box ">
        <img src="https://avatars0.githubusercontent.com/u/8466045?s=460&v=4" class="profile-img mx-auto" alt="" />
        <h4 class="guest-name">Rahul Bansal</h4>

        <p>
          Microsoft
        </p>
      </div>
      <div class="col-md-3 guest-box">
        <img src="https://www.opensourceindia.in/wp-content/uploads/2018/10/pethuru.png" class="profile-img mx-auto"
          alt="" />
        <h4 class="guest-name">Dr. Pethuru Raj</h4>

        <p>
          Jio
        </p>
      </div>
    </div>
    <div class="row ques-row animate-bot">
      <div class="col-md-3 guest-box">
        <img src="../assets/images/speakers/navneet.jpeg" class="profile-img mx-auto" alt="" />
        <h4 class="guest-name">Navneet Deshpande</h4>

        <p>
          L&T Technologies
        </p>
      </div>
      <div class="col-md-3 guest-box ">
        <img src="../assets/images/speakers/raja.jpeg" class="profile-img mx-auto" alt="" />
        <h4 class="guest-name">Mr Raja Ayyanar</h4>

        <p>
          Relecura Technologies Pvt LTD
        </p>
      </div>
      <div class="col-md-3 guest-box ">
        <img
          src="https://media-exp1.licdn.com/dms/image/C5103AQEr7TRZ5tYO_A/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=odn3FriEUZVgxdyJPh6-ATTivYuObjUHnBcO-z5i1nw"
          class="profile-img mx-auto" alt="" />
        <h4 class="guest-name">Ratnadeep Dutta</h4>

        <p>
          INTEL
        </p>
      </div>
      <div class="col-md-3 guest-box ">
        <img src="https://image.flaticon.com/icons/svg/701/701997.svg" class="profile-img mx-auto" alt="" />
        <h4 class="guest-name">C N Subramanian</h4>

        <p>
          IEEE
        </p>
      </div>
    </div>

    <div class="row ques-row animate-bot" style="margin-bottom: 30px;">
      <div class="col-md-3 guest-box">
        <img src="https://image.flaticon.com/icons/svg/701/701997.svg" class="profile-img mx-auto" alt="" />
        <h4 class="guest-name">Shivakumar</h4>

        <p>
          Multiplex Drones Ptv LTD
        </p>
      </div>
      <div class="col-md-3 guest-box ">
        <img src="https://www.bspin.org/wp-content/uploads/2018/09/Shankar-Venugopal-500x500.png"
          class="profile-img mx-auto" alt="" />
        <h4 class="guest-name">Shankar Venugopal</h4>

        <p>
          Mahindra
        </p>
      </div>
      <div class="col-md-3 guest-box ">
        <img src="../assets/images/speakers/12821.jpg" class="profile-img mx-auto" alt="" />
        <h4 class="guest-name">Wing commander Ravindran</h4>

        <p>
          Indian Air Force
        </p>
      </div>
      <div class="col-md-3 guest-box ">
        <img src="../assets/images/speakers/RahulCadambi-869b0ae921aa844c9956c2c50b6a0f94.jpg"
          class="profile-img mx-auto" alt="" />
        <h4 class="guest-name">Dr. Rahul M. Cadambi</h4>

        <p>
          Head of Composites Materials and technology Research Centre, RUAS
        </p>
      </div>
    </div>
  </div>
  <!--jquery-->
  <!-- lottie script -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="../scripts/jquery-ui.js"></script>

  <!-- lottie for animations -->
  <script src="../scripts/lottie.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <!--nav js-->
  <script src="../scripts/nav.js"></script>
</body>

</html>