<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- FAVICON  -->
  <link rel="icon" href="../favicon.png" sizes="64x64" />

  <!-- CSS AND OTHER BOOTSTRAP LINKS -->
  <!-- LINKED CSS -->
  <link rel="stylesheet" href="../styles/nav.css" />

  <link rel="stylesheet" href="../styles/hackathon.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <!-- FAVICON  -->
  <link rel="icon" href="../favicon.png" sizes="64x64" />

  <!-- TITLE  -->
  <title>Aadhya - evolve . engage . elevate</title>
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar nav-masthead  navbar-expand-sm fixed-bottom animate-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarLg">
      <span class="navbar-toggler-icon">
        <div id="hamburger"></div>
      </span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbarLg">
      <ul class="navbar-nav nav">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aboutus.html">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="events.html">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="guests.html">Speakers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  active" href="#">Hackathon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="passes.html">Passes</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="comingsoon.html">Collaborations</a>
          </li> -->
        <li class="nav-item">
          <a class="nav-link" href="faq.html">Faq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="findus.html">Find us</a>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </nav>

  <!--  Main body -->
  <section class="landing-page animate-bottom">
    <div class="wrapper animate-bottom">
      <div class="content-box">
        <div class="label">
          <img src="../assets/icons/hackathon.svg" alt="" />
          <h1>HACKxRUAS</h1>
        </div>
        <div class="content">
          <h2><br />24-hour hackathon.</h2>
          <p>
            M S Ramaiah University of Applied Sciences.
          </p>
          <h2>29th Feb - 1st March, 2020</h2>
          <h3>problem domains will be out soon.</h3>
        </div>
        <div class="wrap">
          <div class="prize">
            <h2>
              prize worth <br />
              <span>&#x20b9; 1,00,000</span>
            </h2>
          </div>

          <div class="register">
            <a href="https://www.townscript.com/e/24-hour-hackathon">register here</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- about HACKxRUAS -->
  <section class="about animate-bottom">
    <h1>about the hackathon</h1>
    <div class="info-container">
      <p>
        <span>Aadhya 2020</span> is coming up with a 24 hour hackathon for the
        problem solvers in you. The hackathon gives you a chance to solve some
        problems around you in the 24 hours and pitch the solution across the
        panel. What more, there is a <span>CTF event </span> that would run
        parallely to enrich your "hacky" minds during the hackathon. The food
        and caffeine is on us!
      </p>
    </div>
  </section>

  <!-- what we offer HACKxRUAS -->
  <section class="offer">
    <h1>what we offer?</h1>
    <div class="info-container">
      <p>
        There are cash prizes worth <span class="green">1 Lakh</span> with a
        lot of goodies and software licenses to grab.
        <span class="bold">The size of the team can be (Min: 2, Max: 4).</span>
        Dont have a team ? Dont worry, register for the hackathon and we will
        find you a <span class="green"> team on-spot!</span> There would be
        industry experts as mentors to guide you if you face any issues during
        the hackathon. Ready to face the test of time? GO and Register NOW !!
      </p>
    </div>
  </section>

  <!-- why attend section -->
  <section class="why-attend">
    <h1>why attend HACKxRUAS?</h1>

    <!-- card content -->
    <div class="row">
      <div class="card" id="why-attend">
        <div class="img-container">
          <img class="card-img-top" src="../assets/images/hackathon/programmer.svg" alt="Card image cap" />
        </div>
        <div class="card-body">
          <h3>learn & build</h3>
        </div>
      </div>
      <div class="card" id="why-attend">
        <div class="img-container">
          <img class="card-img-top" src="../assets/images/hackathon/team.svg" alt="Card image cap" />
        </div>
        <div class="card-body">
          <h3>network & network</h3>
        </div>
      </div>
      <div class="card" id="why-attend">
        <div class="img-container">
          <img class="card-img-top" src="../assets/images/hackathon/win.svg" alt="Card image cap" />
        </div>
        <div class="card-body">
          <h3>schwags & prizes</h3>
        </div>
      </div>

      <div class="card" id="why-attend">
        <div class="img-container">
          <img class="card-img-top" src="../assets/images/hackathon/shakespeare.svg" alt="Card image cap" />
        </div>
        <div class="card-body">
          <h3>standup comedy</h3>
        </div>
      </div>
    </div>
  </section>

  <!-- TRACKS -->
  <!-- <section class="prizes">
      <h1>tracks</h1>

      card content 
      <div class="row">
        <div class="card">
          <div class="prize-label" id="second-prize">
            <h3>2nd prize</h3>
          </div>
          <div class="img-container">
            <img
              class="card-img-top"
              src="../assets/images/Silver_Cup.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="prize-label" id="first-prize">
            <h3>1st prize</h3>
          </div>
          <div class="img-container">
            <img
              class="card-img-top"
              src="../assets/images/Gold_Cup.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="prize-label" id="third-prize">
            <h3>3rd prize</h3>
          </div>
          <div class="img-container">
            <img
              class="card-img-top"
              src="../assets/images/Bronze_Cup.png"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </section> -->

  <!-- PRIZES -->
  <section class="prizes">
    <h1>prizes</h1>

    <!-- card content -->
    <div class="row">
      <div class="card" id="prize">
        <div class="prize-label" id="second-prize">
          <h3>2nd prize</h3>
        </div>
        <div class="img-container">
          <img class="card-img-top" src="../assets/images/hackathon/cups/Silver_Cup.png" alt="Card image cap" />
        </div>
        <div class="card-body">
          <p class="card-text">
            &#x20b9; 20,000
          </p>
        </div>
      </div>
      <div class="card" id="prize">
        <div class="prize-label" id="first-prize">
          <h3>1st prize</h3>
        </div>
        <div class="img-container">
          <img class="card-img-top" src="../assets/images/hackathon/cups/Gold_Cup.png" alt="Card image cap" />
        </div>
        <div class="card-body">
          <p class="card-text">
            &#x20b9; 50,000
          </p>
        </div>
      </div>
      <div class="card" id="prize">
        <div class="prize-label" id="third-prize">
          <h3>3rd prize</h3>
        </div>
        <div class="img-container">
          <img class="card-img-top" src="../assets/images/hackathon/cups/Bronze_Cup.png" alt="Card image cap" />
        </div>
        <div class="card-body">
          <p class="card-text">
            &#x20b9; 10,000
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  <!-- lottie script -->
  <script src="../scripts/lottie.js"></script>
  <!-- nav script -->
  <script src="../scripts/nav.js"></script>

  <!-- bootstrap CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>