<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- FAVICON  -->
    <link rel="icon" href="../favicon.png" sizes="64x64" />

    <!-- CSS AND OTHER BOOTSTRAP LINKS -->
    <!-- LINKED CSS -->
    <link rel="stylesheet" href="../styles/nav.css" />

    <link rel="stylesheet" href="../styles/hackathon.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- FAVICON  -->
    <link rel="icon" href="../favicon.png" sizes="64x64" />

    <!-- TITLE  -->
    <title>Aadhya - evolve . engage . elevate</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav
      class="navbar nav-masthead  navbar-expand-sm fixed-bottom animate-bottom"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbarLg"
      >
        <span class="navbar-toggler-icon">
          <div id="hamburger"></div>
        </span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="guests.html">Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active" href="#">Hackathon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="passes.html">Passes</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="comingsoon.html">Collaborations</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="faq.html">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="findus.html">Find us</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>

    <!--  Main body -->
    <header class="imghead d-flex">
      <div class="container text-center my-auto">
        <h1>HACKxRUAS</h1>
        <h2>24-hour hackathon</h2>
        <h3>M S Ramaiah University of Applied Sciences</h3>

        <h4>29th feb - 1st March, 2020 <br />save the date</h4>

        <div class="register-btn">
          <a
            class="register-link"
            target="_blank"
            href="https://www.townscript.com/e/24-hour-hackathon"
            >register.</a
          >
        </div>
      </div>
    </header>

    <!-- about HACKxRUAS -->
    <main class="fluid-container">
      <section class="row about-cont">
        <div class="row"><h1>about the hackathon</h1></div>
        <div class="row text-justify">
          <p class="col-md-6">
            <span>Aadhya 2020</span> is coming up with a 24 hour hackathon for
            the problem solvers in you. The hackathon gives you a chance to
            solve some problems around you in the 24 hours and pitch the
            solution across the panel. What more, there is a
            <span>CTF event </span> that would run parallely to enrich your
            "hacky" minds during the hackathon. The food and caffeine is on us!
          </p>
        </div>
      </section>

      <!-- what we offer -->
      <section class="offer-cont row justify-content-end">
        <div class="row"><h1>what we offer?</h1></div>
        <div class="row text-justify justify-content-end">
          <p class="col-md-6">
            There are cash prizes worth <span class="green">1 Lakh</span> with a
            lot of goodies and software licenses to grab.
            <span class="bold"
              >The size of the team can be (Min: 2, Max: 4).</span
            >
            Dont have a team ? Dont worry, register for the hackathon and we
            will find you a <span class="green"> team on-spot!</span> There
            would be industry experts as mentors to guide you if you face any
            issues during the hackathon. Ready to face the test of time? GO and
            Register NOW !!
          </p>
        </div>
      </section>

      <section class="row why-section">
        <h1 class="why-heading">
          why attend <span class="green">HACKxRUAS</span> ?
        </h1>
        <div class="row">
          <div class="col-md-3 why-col">
            <img
              class="why-img "
              src="../assets/images/hackathon/programmer.svg"
              alt=""
            />
            <h4>learn & build</h4>
          </div>
          <div class="col-md-3 why-col">
            <img
              class="why-img "
              src="../assets/images/hackathon/team.svg"
              alt=""
            />
            <h4>network & network</h4>
          </div>
          <div class="col-md-3 why-col">
            <img
              class="why-img "
              src="../assets/images/hackathon/win.svg"
              alt=""
            />
            <h4>schwags & prizes</h4>
          </div>
          <div class="col-md-3 why-col">
            <img
              class="why-img "
              src="../assets/images/hackathon/shakespeare.svg"
              alt=""
            />
            <h4>standup comedy</h4>
          </div>
        </div>
      </section>

      <!-- prizes -->
      <section class="row prize-section">
        <h1 class="prize-heading">
          prizes
        </h1>
        <div class="row">
          <div class="col-md-4 prize-col data-tilt" data-tilt>
            <h3 class="first-prize">1<sup>st</sup> prize</h3>
            <img
              class="prize-img "
              src="../assets/images/hackathon/cups/Gold_Cup.png"
              alt=""
            />
            <h4><sub>₹ </sub><span> 50,000</span></h4>
          </div>
          <div class="col-md-4 prize-col data-tilt" data-tilt>
            <h3 class="second-prize">2<sup>nd</sup> prize</h3>
            <img
              class="prize-img "
              src="../assets/images/hackathon/cups/Silver_Cup.png"
              alt=""
            />
            <h4><sub>₹ </sub><span> 30,000</span></h4>
          </div>
          <div class="col-md-4 prize-col data-tilt" data-tilt>
            <h3 class="third-prize">3<sup>rd</sup> prize</h3>

            <img
              class="prize-img "
              src="../assets/images/hackathon/cups/Bronze_Cup.png"
              alt=""
            />
            <h4><sub>₹ </sub><span> 10,000</span></h4>
          </div>
        </div>
      </section>
    </main>

    <!-- scripts -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>

    <!-- lottie script -->
    <script src="../scripts/lottie.js"></script>
    <!-- nav script -->
    <script src="../scripts/nav.js"></script>

    <!-- bootstrap CDN -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>

    <script src="../scripts/hackathon.js"></script>
  </body>
</html>
