<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- FAVICON  -->
    <link rel="icon" href="../favicon.png" sizes="64x64" />

    <!-- CSS AND OTHER BOOTSTRAP LINKS -->
    <!-- LINKED CSS -->
    <link rel="stylesheet" href="../styles/nav.css" />

    <link rel="stylesheet" href="../styles/eventlist.css" />
    <link rel="stylesheet" href="../styles/passes.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- TITLE  -->
    <title>Aadhya - evolve . engage . elevate</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav
      class="navbar nav-masthead  navbar-expand-sm fixed-bottom animate-bottom"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbarLg"
      >
        <span class="navbar-toggler-icon"><div id="hamburger"></div></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="guests.html">Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="comingsoon.html">Hackathon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active " href="passes.html">Passes</a>
          </li>
          <!-- <li class="nav-item">
           <a class="nav-link" href="comingsoon.html">Collaborations</a>
         </li> -->
          <li class="nav-item">
            <a class="nav-link" href="faq.html">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="findus.html">Find us</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>

    <!-- passes -->
    <div class="tabs animate-bottom">
      <div class="tab-button-outer">
        <ul id="tab-button">
          <li><a href="#tab01">universe</a></li>
          <li><a href="#tab02">multiverse</a></li>
          <li><a href="#tab03">ultron</a></li>
          <li><a href="#tab04">endgame</a></li>
          <li><a href="#tab05">infinity</a></li>
          <li><a href="#tab06">homecoming</a></li>
        </ul>
      </div>
      <div class="tab-select-outer">
        <select id="tab-select" class="custom-select">
          <option value="#tab01">universe</option>
          <option value="#tab02">multiverse</option>
          <option value="#tab03">ultron</option>
          <option value="#tab04">endgame</option>
          <option value="#tab05">infinity</option>
          <option value="#tab06">homecoming</option>
        </select>
      </div>

      <!-- universe -->
      <div id="tab01" class="tab-contents">
        <img
          src="https://natgeo.imgix.net/factsheets/thumbnails/DeathOfAUniverseHeader.jpg"
          alt=""
          width="100%"
        />
        <h2>universe</h2>
        <h6>description</h6>
        <p>
          A student has access to any 3 competitions taking place in the tech
          fest along with any 2 extra curricular activities ( 1 round each ).
        </p>
        <div class="elements">
          <div class="button">
            <a
              target="_blank"
              href="https://www.townscript.com/e/aadhya-2020-ruas-444031"
              >register</a
            >
          </div>
          <span class="blue">price: <span class="white">₹ 957</span></span>
        </div>
      </div>

      <!-- multiverse -->
      <div id="tab02" class="tab-contents">
        <img
          src="https://images6.alphacoders.com/312/thumb-1920-312428.jpg"
          alt=""
          width="100%"
        />
        <h2>multiverse</h2>
        <h6>description</h6>
        <p>
          A student has access to any 3 competitions taking place in the tech
          fest along with any 2 extra curricular activities ( 2 rounds each ).
          This pass gives you access to the stand up show as well.
        </p>
        <div class="elements">
          <div class="button">
            <a
              target="_blank"
              href="https://www.townscript.com/e/multiverse-aadhya-2020-444031"
              >register</a
            >
          </div>
          <span class="blue"
            >price: <span class="white">coming soon</span></span
          >
        </div>
      </div>

      <!-- ultron -->
      <div id="tab03" class="tab-contents">
        <img
          src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1194ef57-7e81-4350-9099-eae46024edbf/d83x7g1-bec2c706-ca90-4455-9c2e-10093e20db44.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzExOTRlZjU3LTdlODEtNDM1MC05MDk5LWVhZTQ2MDI0ZWRiZlwvZDgzeDdnMS1iZWMyYzcwNi1jYTkwLTQ0NTUtOWMyZS0xMDA5M2UyMGRiNDQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.plRQHty5tx5vZaLV5V68LvQ_uoVudFAOBoK0TtVfnBo"
          alt=""
          width="100%"
        />
        <h2>ultron</h2>
        <h6>description</h6>
        <p>
          A student can take part in one 2-day workshop, 2 extra curricular
          activities (one round each) and in our flagship event Hackathon. The
          pass provides access to individual student. It is not a team pass.
        </p>
        <div class="elements">
          <div class="button">
            <a
              target="_blank"
              href="https://www.townscript.com/e/ultron-aadhya-2020-ruas-444031"
              >register</a
            >
          </div>
          <span class="blue">price: <span class="white">₹ 2,111</span></span>
        </div>
      </div>

      <!-- endgame-->
      <div id="tab04" class="tab-contents">
        <img
          src="https://images2.alphacoders.com/970/thumb-1920-970735.jpg"
          alt=""
          width="100%"
        />
        <h2>endgame</h2>
        <h6>description</h6>
        <p>
          A student can participate in the Hackathon and the attend the Standup
          show. + 2 extra curricular activities (1 round each)
        </p>
        <div class="elements">
          <div class="button">
            <a
              target="_blank"
              href="https://www.townscript.com/e/endgame-pass-aadhya-2020-212032"
              >register</a
            >
          </div>
          <span class="blue">price: <span class="white">₹ 1,060</span></span>
        </div>
      </div>

      <!-- infinity -->
      <div id="tab05" class="tab-contents">
        <img
          src="https://cdn.hipwallpaper.com/i/19/82/LCKJQa.jpg"
          alt=""
          width="100%"
        />
        <h2>infinity</h2>
        <h6>description</h6>
        <p>
          A student can take part in one 2-day workshop and 2 competitions
          across any branch. You get access to All the extra curricular
          activities for one round each. you also get entry to our flaghsip
          hackathon
        </p>
        <div class="elements">
          <div class="button">
            <a
              target="_blank"
              href="https://www.townscript.com/e/infinity-aadhya-2020-ruas"
              >register</a
            >
          </div>
          <span class="blue">price: <span class="white">₹ 2,300</span></span>
        </div>
      </div>

      <!--homecoming -->
      <div id="tab06" class="tab-contents">
        <img
          src="https://lh3.googleusercontent.com/proxy/bWl4aY2kwFbpZBZXArIrwcZdIwRIQ3rK28JvicUGWLeXjRWOR0AoNX1leo3nkuRKeFyAN0R2zYYsuaRp_vUwaunnKjwMcVIACgkbUYa1OhC4FcwmnvO6BzjuqOkaVqfOZBoH3NLGmqFM0bKQlRUCeiYxRC7PZhjh4g"
          alt=""
          width="100%"
        />
        <h2>homecoming</h2>
        <h6>description</h6>
        <p>
          A student can take part in one 2-day workshop and 2 competition.You
          get access to All the extra curricular activities for one round each.
        </p>
        <div class="elements">
          <div class="button">
            <a
              target="_blank"
              href="https://www.townscript.com/e/homecoming-aadhya-2020-ruas"
              >register</a
            >
          </div>
          <span class="blue">price: <span class="white">₹ 2,100</span></span>
        </div>
      </div>
    </div>

    <!-- SCRIPTS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>

    <!-- lottie script -->
    <script src="../scripts/lottie.js"></script>
    <!-- nav script -->
    <script src="../scripts/nav.js"></script>

    <!-- bootstrap CDN -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script src="../scripts/passes.js"></script>
  </body>
</html>
