<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrapcdn -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/owl.carousel.min.css" />
    <link rel="stylesheet" href="../styles/aos.css" />
    <script src="https://use.fontawesome.com/fc49d836e8.js"></script>

    <link rel="stylesheet" href="../styles/events.css" />
    <link rel="stylesheet" href="../styles/nav.css" />

    <!-- FAVICON  -->
    <link rel="icon" href="../favicon.png" sizes="64x64" />

    <title>Aadhya - evolve . engage . elevate</title>
  </head>
  <body>
    <!-- nav -->
    <nav
      class="navbar nav-masthead navbar-expand-sm fixed-bottom animate-bottom"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbarLg"
      >
        <span class="navbar-toggler-icon"><div id="hamburger"></div></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="guests.html">Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="comingsoon.html">Hackathon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Passes</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="comingsoon.html">Collaborations</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" href="faq.html">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="findus.html">Find us</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>

    <h1 class="heading">
      passes
    </h1>

    <!-- carousel -->

    <div class="custom-owl-carousel">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="owl-carousel slide-one-item-alt">
              <img
                src="https://natgeo.imgix.net/factsheets/thumbnails/DeathOfAUniverseHeader.jpg"
                alt="Image"
                class="img-fluid"
              />
              <img
                src="https://images6.alphacoders.com/312/thumb-1920-312428.jpg"
                alt="Image"
                class="img-fluid"
              />
              <img
                src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1194ef57-7e81-4350-9099-eae46024edbf/d83x7g1-bec2c706-ca90-4455-9c2e-10093e20db44.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzExOTRlZjU3LTdlODEtNDM1MC05MDk5LWVhZTQ2MDI0ZWRiZlwvZDgzeDdnMS1iZWMyYzcwNi1jYTkwLTQ0NTUtOWMyZS0xMDA5M2UyMGRiNDQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.plRQHty5tx5vZaLV5V68LvQ_uoVudFAOBoK0TtVfnBo"
                alt="Image"
                class="img-fluid"
              />
              <img
                src="https://images2.alphacoders.com/970/thumb-1920-970735.jpg"
                alt="Image"
                class="img-fluid"
              />
              <img
                src="https://cdn.hipwallpaper.com/i/19/82/LCKJQa.jpg"
                alt="Image"
                class="img-fluid"
              />
              <img
                src="https://i.pinimg.com/originals/0e/c5/2e/0ec52e38638f730a8acf6d3417ab9547.jpg"
                alt="Image"
                class="img-fluid"
              />
            </div>

            <div class="owl-custom-direction">
              <a href="#" class="custom-prev"
                ><span><i class="fa fa-arrow-left" aria-hidden="true"></i></span
              ></a>
              <a href="#" class="custom-next"
                ><span
                  ><i class="fa fa-arrow-right" aria-hidden="true"></i></span
              ></a>
            </div>
          </div>

          <div class="col-lg-4 mr-auto" data-aos="fade-up">
            <div class="owl-carousel slide-one-item-alt-text">
              <div class="slide-text">
                <h1>universe</h1>
                <br />

                <p>
                  A student has access to any 3 competitions taking place in the
                  tech fest along with any 2 extra curricular activities ( 1
                  round each ).
                </p>
                <h6>price : INR 957</h6>
                <p>
                  <a
                    target="_blank"
                    href="https://www.townscript.com/e/aadhya-2020-ruas-444031"
                    class="btn py-2 px-4"
                    >register.</a
                  >
                </p>
              </div>
              <div class="slide-text">
                <h1>multiverse</h1>
                <br />
                <p>
                  A student has access to any 3 competitions taking place in the
                  tech fest along with any 2 extra curricular activities ( 2
                  rounds each ). This pass gives you access to the stand up show
                  as well.
                </p>
                <h6>price : INR 1,482</h6>

                <p>
                  <a
                    target="_blank"
                    href="https://www.townscript.com/e/multiverse-aadhya-2020-444031"
                    class="btn py-2 px-4"
                    >register.</a
                  >
                </p>
              </div>
              <div class="slide-text">
                <h1>ultron</h1>
                <br />
                <p>
                  A student can take part in one 2-day workshop, 2 extra
                  curricular activities (one round each) and in our flagship
                  event Hackathon. The pass provides access to individual
                  student. It is not a team pass.
                </p>
                <h6>price : INR 2,111</h6>

                <p>
                  <a
                    target="_blank"
                    href="ttps://www.townscript.com/e/ultron-aadhya-2020-ruas-444031"
                    class="btn py-2 px-4"
                    >register.</a
                  >
                </p>
              </div>
              <div class="slide-text">
                <h1>endgame</h1>
                <br />

                <p>
                  A student can participate in the Hackathon and the attend the
                  Standup show. + 2 extra curricular activities (1 round each)
                </p>
                <h6>price : INR 1,060</h6>
                <p>
                  <a
                    target="_blank"
                    href="https://www.townscript.com/e/endgame-pass-aadhya-2020-212032"
                    class="btn py-2 px-4"
                    >register.</a
                  >
                </p>
              </div>

              <div class="slide-text">
                <h1>infinity</h1>
                <br />

                <p>
                  A student can take part in one 2-day workshop and 2
                  competitions across any branch. You get access to All the
                  extra curricular activities for one round each. you also get
                  entry to our flaghsip hackathon
                </p>
                <h6>price : INR 2,300</h6>
                <p>
                  <a
                    target="_blank"
                    href="https://www.townscript.com/e/infinity-aadhya-2020-ruas"
                    class="btn py-2 px-4"
                    >register.</a
                  >
                </p>
              </div>

              <div class="slide-text">
                <h1>homecoming</h1>
                <br />

                <p>
                  A student can take part in one 2-day workshop and 2
                  competition.You get access to All the extra curricular
                  activities for one round each.
                </p>
                <h6>price : INR 2,100</h6>
                <p>
                  <a
                    target="_blank"
                    href="https://www.townscript.com/e/homecoming-aadhya-2020-ruas"
                    class="btn py-2 px-4"
                    >register.</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- scripts -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/owl.carousel.min.js"></script>
    <script src="../scripts/aos.js"></script>
    <script src="../scripts/events.js"></script>

    <!-- lottie script -->
    <script src="../scripts/lottie.js"></script>
    <!--nav js-->
    <script src="../scripts/nav.js"></script>
  </body>
</html>
