/* ASSINGING COLOR VARS AND FONT FAMILY */
:root {
  --black: #070507;
  --whiteu: #e5e5e5;
  --blueu: #1089ff;
  --greenu: #50d890;
}

@font-face {
  font-family: ig-regular;
  src: url(../assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: ig-italic;
  src: url(../assets/fonts/glacial-indifference/GlacialIndifference-Italic.otf);
}
@font-face {
  font-family: ig-bold;
  src: url(../fonts/glacial-indifference/GlacialIndifference-Bold.otf);
}
body::-webkit-scrollbar {
  display: none !important;
}

body{
  background-color: var(--black) !important;
  font-family: "ig-regular" !important;
}
h1{
  color: var(--blueu);
}
h3{
  color: var(--greenu);
}
.card{
  margin: 5%;
  padding: 3%;
  background-color: var(--black) !important ;
  color: var(--whiteu);
  box-shadow: #151414 0px 0px 2px 2px, #000000 4px 4px 8px, #1f1d1d -4px -4px 10px;
  /* border: 1px solid var(--greenu) !important; */
  border-radius: 5% !important;
  

   /* border-color: var(--greenu) !important;
  border-left: 5px !important;
border-right: 1px !important; */
}
.price{
  color: var(--blueu);
  font-weight: bold;
}



/* buttons */

.btn {
  margin: 3%;
  padding: 1.5px 40px !important;
  z-index: 200;
  font-family: "ig-regular";
  font-size: 20px !important;
  font-weight: 900;
  box-shadow: #151414 0px 0px 2px 2px, #000000 4px 4px 8px, #1f1d1d -4px -4px 10px;
  /* outline: medium; */
  /* border-color: var(--white) !important; */
  color: var(--white) !important;
}
.btn:hover,
.btn:active,
.btn:focus {
  outline: auto;
  color: var(--black) !important;
  background-color: #50d890 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.buttons {
  display: flex;
  flex-direction: row;
  margin: 3%;
  min-width: 40%;
  justify-content: flex-end;
  padding: 0;
}