/* ASSINGING COLOR VARS AND FONT FAMILY */
:root {
  --black: #070507;
  --whiteu: #e5e5e5;
  --blueu: #1089ff;
  --greenu: #50d890;
}

@font-face {
  font-family: ig-regular;
  src: url(../assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: ig-italic;
  src: url(../assets/fonts/glacial-indifference/GlacialIndifference-Italic.otf);
}
@font-face {
  font-family: ig-bold;
  src: url(../assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf);
}
body::-webkit-scrollbar {
  display: none !important;
}

body{
  background-color: var(--black) !important;
  font-family: "ig-regular" !important;
}
.section{
  margin-bottom: 12%;
}
.top-container {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}
h1{
  color: var(--blueu);
  font-family: "ig-bold";
  margin: 3% !important;
}
h3{
  color: var(--greenu);
  font-family: "ig-bold" !important;
}
.card{
  margin: 5% 2%;
  padding: 3%;
  background-color: var(--black) !important ;
  color: var(--whiteu);
  height: 95%;
  box-shadow: #151414 0px 0px 2px 2px, #000000 4px 4px 8px, #1f1d1d -4px -4px 10px;
  border-radius: 5% !important;
  text-align: justify;
  /* text-justify: inter-word; */
  

}
.price{
  color: var(--blueu);
  font-weight: bold;
}
.card-title{
  text-align: center;
  text-transform: lowercase;
}



/* buttons */

.btn {
  margin: 3%;
  padding: 1.5px 40px !important;
  z-index: 200;
  font-family: "ig-regular";
  font-size: 20px !important;
  font-weight: 900;
  box-shadow: #151414 0px 0px 2px 2px, #000000 4px 4px 8px, #1f1d1d -4px -4px 10px;
  /* outline: medium; */
  /* border-color: var(--white) !important; */
  color: var(--white) !important;
}
.btn:hover,
.btn:active,
.btn:focus {
  outline: auto;
  color: var(--black) !important;
  background-color: #50d890 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.buttons {
  display: flex;
  flex-direction: row;
  margin: 3%;
  min-width: 40%;
  justify-content: flex-end;
  padding: 0;
}


/* media-query */
@media (max-width: 991.98px) {
  .card-block{
    /* text-align: center; */
    /* text-align: justify; */
    /* text-justify: inter-word; */
    /* display: inline-block; */
  
  }
  .top-container {
    display: flex;
    flex-direction: column;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .btn {
    font-size: 15px !important;
  }
}