/* ASSINGING COLOR VARS AND FONT FAMILY */
:root {
  --black: #070507;
  --white: #e5e5e5;
  --blue: #1089ff;
  --greenu: #50d890;
}

@font-face {
  font-family: ig-regular;
  src: url(../assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: ig-italic;
  src: url(../assets/fonts/glacial-indifference/GlacialIndifference-Italic.otf);
}
@font-face {
  font-family: ig-bold;
  src: url(../assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf);
}
body::-webkit-scrollbar {
  display: none ;
}
body {
  margin: 0  ;
  padding: 0 ;
  background-color: var(--black) !important;
  font-family: "ig-regular" !important;
  color: var(--white);
  background-position: center;
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-size: cover ;
  background-image: url(../assets/images/photo-1451187580459-43490279c0fa.jpeg);

}

.top-container{

  /* height: 100%;  */

  text-align: right;
  margin-right: 10%;
  margin-bottom: 20%;

}

.hackxruas > h1{
  margin: 5% auto auto auto;
  font-size: 12vw;
  fill: none;
}
.intro > h1{
  font-size: 5vw;
  text-align: right;
}
.clg-name > h2{
  font-size: 2vw;
  color: var(--greenu);
}
.hack-date{
  color: var(--white);
}
.register-btn{
  font-size: 3vw;


  /* border: % solid var(--white) !important; */
}
.register-link {
  border-radius: 5%;
  margin-bottom: 15% !important;
  /* background-color: var(--black); */
  
  /* border: medium solid var(--black); */
  text-decoration: none !important;
} 
.register-link:hover{
  color: var(--greenu);
}
span{
  color: var(--greenu);
}
/* about */
.about-container , .offer-container{
  width: 50%;
  color: var(--white);
  margin: 7%;
  line-height: 2;
  font-size: larger;
  background-color: var(--black) !important;
}
.offer-container{
  float: left;
}

h1{
  color: var(--blue);
  font-family: "ig-bold";
}

