/* ASSINGING COLOR VARS AND FONT FAMILY */
:root {
  --black: #070507;
  --white: #e5e5e5;
  --blue: #1089ff;
  --green: #50d890;
}

@font-face {
  font-family: ig-regular;
  src: url(../assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: ig-italic;
  src: url(../assets/fonts/glacial-indifference/GlacialIndifference-Italic.otf);
}
@font-face {
  font-family: ig-bold;
  src: url(../assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf);
}

/* BACKGROUND */
*,
body {
  background: var(--black);
  padding: 0;
  margin: 0;
}
body {
  overflow: visible !important;
  font-family: "ig-regular", Arial, Helvetica, sans-serif;
}

/* LOADER */
#loader {
  width: 100%;
  background: var(--black);
  display: flex;
  justify-content: center;

  /* align-items: center; */
}

#loadingDiv {
  margin: 0;
  padding-top: 6em;
  text-align: center;
  width: 50% !important;
  background-color: var(--black);
  overflow: hidden !important ;
}

/* CLOCK ANIMANTION */
#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: var(--black);
  display: inline-block;
}

#clockdiv div > span {
  padding: 8.5px;
  border-radius: 3px;
  background: var(--black);
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}
/* CURSOR PARALLEX */
.data-tilt {
  display: flex;
  justify-content: center;
  background-color: transparent !important;
  height: 100%;
  width: 50%;
  transform-style: preserve-3d;
  transform: translateZ(50px);
}
@media only screen and (max-width: 1620 px) {
  .data-tilt {
    width: 40%;
  }
}
/* REGISTER BUTTON */
.register {
  z-index: 2 !important;
  display: inline-block;
  margin: auto;
  padding: 16px 24px 17px;
  background-color: var(--blue);
  border: none;
  color: var(--white);
  text-decoration: none;
  outline: none;
  font-size: larger;
  font-weight: 800;
  text-decoration: none;
  font-family: "ig-regular";
}
.register:hover {
  background-color: var(--white);
  text-decoration: none;
}
/* AUDIO BUTTON */
.audio {
  z-index: 2 !important;
  margin: auto;
  padding: 16px 24px 17px;
  border: none;
  outline: none !important;
}
#audio-btn {
  width: 30px !important;
}
.audio-btn-container {
  display: flex;
  text-align: center;
  align-items: center;
}
.audio-btn-container > p {
  color: var(--white);
  font-family: "ig-regular";
  margin: 2px 0px;
}
/* LANDING PAGE IMAGES */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

.intro img {
  z-index: -10 !important;
  width: 50%;
}

/* TYPING EFFECT TEXT */
.typewriter {
  display: flex;
  flex-wrap: wrap;
  border-color: var(--black);
  background-color: transparent !important;
  align-items: center;
  justify-content: center;
}
.typewriter > span {
  color: var(--blue);
  background-color: transparent !important;
}

.typewriter {
  position: relative;
  font-size: 30px;
  color: var(--white);
  text-align: center;
  font-family: "ig-regular";
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */

  animation: typing 1.5s steps(40, end), blink-caret 0.5s infinite normal;
}

/* Add animation to "page content" */
#myDiv {
  display: none;
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

/* RESPONSIVE MEDIA  */
@media only screen and (max-width: 700px) {
  #loadingDiv {
    padding-top: 10em !important;
  }
  .audio-btn-container > p {
    font-size: 0.6rem;
  }
  .intro {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* align-items: center; */
  }
  .nav-link {
    padding-right: 3rem !important;
  }
  .intro img {
    width: 80%;
    height: 20%;
  }

  .typewriter {
    font-size: 20px;
  }
  button > span {
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
  }
  .register {
    padding: auto auto auto;
    font-weight: 400;
    font-size: 15px;
  }
  .data-tilt {
    width: 80%;
  }
  #clockdiv {
    display: inline-block;
    text-align: center;
    padding: 5px;
    font-size: 20px;
  }

  #clockdiv > div {
    padding: 5px;
    font-size: 20px;
  }

  #clockdiv div > span {
    padding: 10px;
  }

  .smalltext {
    width: 50%;
    font-size: 15px;
    text-align: center;
  }
}
